<p><b>DRINKUP PRIVACY POLICY</b></p>

<p>Effective: July 29, 2013</p>

<p>DrinkUp understands you care about how services you use manage information they collect. This Privacy Policy covers how we treat the information that we receive through the ?rinkUp Services?as defined in our Terms. </p>

<p><b>There is no charge to download the DrinkUp app and using Personal Information for advertising, marketing and personalization is part of our business plan. We?l try to do this sensibly and responsibly and listen to our users and stakeholders.</b></p>

<p>This Privacy Policy is incorporated by reference into the FBGM? DrinkUp Terms of Service. [link to page] </p>

<p><b>?ersonal Information</b>?means information that alone or when in combination with other information may be used to readily identify, contact, or locate you, such as: name, address, email address, or phone number. We do not consider Personal Information to include information that has been anonymized so that it does not allow a third party to easily identify a specific individual.</p>

<p><b>1. The Information We Collect</b></p>

<table border="1" cellspacing="0" cellpadding="0" width="90%" >
<tbody>
<tr>
<td valign="top" ><p>We collect Personal Information when you: </p>

<ul>
<li>register to use the DrinkUp Services; </li>
<li>use the DrinkUp Services, such as to make payments or send messages; </li>
<li>allow your device to send us location information; and</li>
<li>communicate with us. </li>
</ul>

<p>We also collect information, such as anonymous usage statistics, by using cookies, server logs, and other similar technology as you use the DrinkUp Services.</p></td>
</tr>

</tbody>
</table>

<p>?Registration and Account Information: FBGM collects certain Personal Information when you register as a user of the DrinkUp Services. To register, you will need to provide your full name, as well as a mobile phone number, device identification number, or similar contact information related to the device on which you will use the DrinkUp Services. </p>

<p>?Payments: When you make payments through the DrinkUp Services, you may need to provide Personal Information to our third-party service providers, such as your credit card number to enable your use of the DrinkUp Services. </p>

<p>?Location: The DrinkUp Services can provide real-time location-based information using your mobile device. We may collect and store your location information if you enable your mobile device to send it to us. You may enable or disable location tracking.</p>

<p>?Messages: As part of the DrinkUp Services, members may communicate with other members by SMS text and other forms of electronic communication including push notifications. Messages you post may be instantaneously viewed, collected, and used by users for as long as they remain posted. Please carefully consider what information you provide in your posted messages. We are not responsible for the privacy practices of the other users who will view and use the posted information.</p>

<p>?Customer Service: We may collect Personal Information through your communications with our support team. </p>

<p>?Cookies and Similar Technologies: When you visit the DrinkUp Services, we and our third-party service providers receive and record information about your device, software and use of the DrinkUp Services. This information may include things like browser information, your IP address or equivalent and information obtained through the use of cookies and similar technology. Some of these technologies you may be able to disable through browser or device settings. Disabling cookies and similar technologies or features could interfere with your experience using the DrinkUp Services.</p>

<p><b>2. How We Use the Information Collected </b></p>

<table border="1" cellspacing="0" cellpadding="0" width="90%" >
<tbody>
<tr>
<td valign="top" ><p>We use Personal Information to: </p>

<ul>
<li>facilitate and improve our services; and</li>
<li>communicate with you.</li>
</ul>

<p><b>There is no charge to download the DrinkUp app and using Personal Information for advertising, marketing and personalization is part of our business plan. We?l try to do this sensibly and responsibly and listen to our users and stakeholders.</b></p></td>
</tr>

</tbody>
</table>

<p>?Personal Information: We use Personal Information we collect from you to provide and improve the DrinkUp Services. We?l use Personal Information for things like: doing what you?e asked us to do, notifying you of upgrades and new features, products, services, and promotions; process payments; and contact you for other reasons. <b>There is no charge to download the DrinkUp app and using Personal Information for advertising, marketing and personalization is part of our business plan. We?l try to do this sensibly and responsibly and listen to our users and stakeholders.</b></p>

<p>?Location Information: If you allow us to track your geo-location, we may use it to provide you with community announcements or recommendations that may be of interest to you based on your location and information requests.</p>

<p>?Communications: We may send email, or text messages with your consent, to verify your account and for informational and operational purposes, such as account management, customer service, or system maintenance. We may also provide notifications to you on your device and within the DrinkUp Service as part of our products and services.</p>

<p>?Marketing. We may use information, including Personal Information, to provide online advertising and to facilitate transmittal of information that may be useful, relevant, valuable or otherwise of interest to you. Information collected through the DrinkUp Services may also be used for advertising and marketing purposes by FBGM and others with whom we may enter into business relationships from time to time. </p>

<p>?Information Collected By Cookies and Similar Technologies: FBGM may use cookies or similar technologies to make it easier to access and verify account information through your web browser, enable and improve certain features of the DrinkUp Services, administer the technical functionality of the DrinkUp Services, and monitor and understand usage and web traffic routing of the DrinkUp Services. We may sometimes correlate such information with Personal Information to help with user authorization and request processing. We will treat such combined information as Personal Information.</p>

<p><b>3. Information Sharing and Disclosure</b></p>

<table border="1" cellspacing="0" cellpadding="0" width="90%" >
<tbody>
<tr>
<td valign="top" ><p>We may share your information:</p>

<ul>
<li>with businesses or others with whom we have business relationships for their use for marketing, advertising and related purposes;</li>
<li>with our third-party service providers;</li>
<li>with other users;</li>
<li>to comply with legal obligations;</li>
<li>to protect and defend our rights and property; and</li>
<li>with your permission.</li>
</ul>

<p>We do not rent, sell, or share Personal Information about you with other people or nonaffiliated companies for their direct marketing purposes, unless we have your permission.</p></td>
</tr>

</tbody>
</table>

<p>FBGM may rent, sell, or share Personal Information about you with other people or nonaffiliated companies as permitted by our Terms as you have permited under the following circumstances:</p>

<p>?With Businesses or Others for Their Use for Marketing, Advertising and Related Purposes:</p>

<p>?With Vendors and Service Providers: We may share any information we receive with vendors and service providers retained in connection with the provision of the DrinkUp Services.</p>

<p>?With Other Users: </p>

<p>o As the DrinkUp Services evolve we may create social and sharing features that enable you to share with and communicate with others users on or beyond the DrinkUp Services. This may require you to share Personal Information or otherwise permit access to your device or other third party services. </p>

<ul>
<li>Legal Requests and Defense: We may share or disclose your information to protect our rights, your rights or the rights of others including to respond, as appropriate in our judgment, to legal requests. We may notify you and/or provide you with an opportunity to defend or oppose our disclosures in response to such requests but we cannot promise that we may cooperate or otherwise disclose information obtained by FBGM through your use of the DrinkUp Services.</li>
<li>Business Transfers: We may transfer information about you if FBGM is acquired by, reorganized, or merged with another company, or in connection with the sale of any business, business unit, division, product line, or other assets of FBGM. You will have the opportunity to ask not to receive promotional information following any such change of control.</li>
</ul>

<p><strong>4. Anonymized and Aggregate Information</strong></p>

<table border="1" cellspacing="0" cellpadding="0" width="90%" >
<tbody>
<tr>
<td valign="top" ><p>We may use anonymous and aggregate information for any purpose, including for marketing purposes.</p></td>
</tr>

</tbody>
</table>

<p>?The Information We Collect: We and our third-party service provides may collect non-Personal Information other than Personal Information, such as: gender, age, zip code, country or territory of residence, IP address, physical location, type of browser that you use, type and nature of the content that you upload to the DrinkUp Services and access from the DrinkUp Services, comments and communication that you enter into the DrinkUp Services, links and transactions with us and with third-parties that you enter into via the DrinkUp Services, and other aspects of your use of the DrinkUp Services. This information may sometimes be correlated with the Personal Information you provide.</p>

<p>?How We Use the Information We Collect: FBGM may combine the non-Personal Information we collect with other information that we obtain from business partners or other companies and use the information to improve the DrinkUp Services, conduct research, identify members?interests in certain content and areas of the DrinkUp Services, tailor advertising and content displayed on the DrinkUp Services, and to inform our advertisers and promotional partners about user response to their advertisements and promotions. We may anonymize and aggregate data collected through the DrinkUp Services and use it for any purpose.</p>

<p><b>5. Children? Information</b></p>

<table border="1" cellspacing="0" cellpadding="0" width="90%" >
<tbody>
<tr>
<td valign="top" ><p>We do not knowingly collect information from children under 13. We will take steps to delete it if we learn we have collected it.</p></td>
</tr>

</tbody>
</table>

<p>The DrinkUp Services are not intended for anyone under 21 years of age. Please do not register with DrinkUp if you are under the age of 21. </p>

<p><b>6. Use Outside the United States</b></p>

<table border="1" cellspacing="0" cellpadding="0" width="90%" >
<tbody>
<tr>
<td valign="top" ><p>The DrinkUp Services are designed for use in the United States. By using the DrinkUp Services, you will transfer data to the United States.</p></td>
</tr>

</tbody>
</table>

<p>The DrinkUp Services are designed for use solely by persons physically located in the United States and with mobile devices registered with U.S. carriers with SMS functionality enabled. You may use the DrinkUp Services if you are physically located in a country other than the United States, but the DrinkUp Services will be limited.</p>

<p><b>By providing your information you consent to any transfer and processing in accordance with this Privacy Policy.</b></p>

<p><b>7. Access to Your Account Information and Preferences</b></p>

<table border="1" cellspacing="0" cellpadding="0" width="90%" >
<tbody>
<tr>
<td valign="top" ><p>You may edit your profile information and terminate your account at any time.</p>

<p>You may not opt out of service announcements or administrative messages.</p></td>
</tr>

</tbody>
</table>

<p>?Modifying Account Information: You may edit your DrinkUp user account information at any time. </p>

<p>?Communications: We reserve the right to send you certain communications relating to the DrinkUp Services, such as service announcements and administrative messages. You may not opt out of receiving those messages. </p>

<p><b>8. </b>Unsubscribing and Cancelling Services: You may, at any time, terminate your DrinkUp Service account or delete our app from your device. Information, including Personal Information collected through the DrinkUp Services may persist and may continue to be used as provided in this Privacy Policy. We will make reasonable efforts to provide access to and delete Personal Information upon request. </p>

<p><b>9. Security </b></p>

<p>We take steps to ensure that your information is treated securely and in accordance with this Privacy Policy. Unfortunately, the DrinkUp Services are NOT guaranteed to be secure, and we cannot ensure or warrant the security of any information you provide to us. We do not accept liability for unintentional disclosure.</p>

<p><b>10. Third-Party Sites</b></p>

<p>Through the DrinkUp Services you may receive messages that contain links to other websites. Our Privacy Policy only applies to the DrinkUp Services and we are not responsible for the privacy practices or the content of other websites. You should review the privacy policies of those sites before providing your Personal Information to them. </p>

<p><b>11. </b><strong>Reasonable Efforts</strong></p>

<table border="1" cellspacing="0" cellpadding="0" width="90%" >
<tbody>
<tr>
<td valign="top" ><p>FBGM does not guarantee error-free compliance with this Privacy Policy.</p>

<p>Beta Products may not work properly, and we welcome your suggestions on privacy-related matters.</p></td>
</tr>

</tbody>
</table>

<p>We will use reasonable efforts to comply with this Privacy Policy and will take prompt corrective action when we learn of any failure to comply with our Privacy Policy. We welcome your feedback on any privacy concerns you may have. FBGM does not guarantee error-free performance under this Privacy Policy. </p>

<p>Beta Products:We may release beta versions of our products and services, which are further refined before the release of the final version. Because these products and services are still in a test phase, we may not always know of a privacy-related issue, despite our efforts to do so. </p>

<p><b>12. Changes and Notification</b></p>

<table border="1" cellspacing="0" cellpadding="0" width="90%" >
<tbody>
<tr>
<td valign="top" ><p>We may revise this Privacy Policy, so review it periodically.</p></td>
</tr>

</tbody>
</table>

<h5>?FBGM may modify its Privacy Policy from time to time. If our Privacy Policy changes, the revised policy will be posted on this site and we will change the updated date on this page to reflect the date of the modification. The revised Privacy Policy shall be effective when it is posted. If you disagree with the changes, you should discontinue using the DrinkUp Services, as your continued use of the DrinkUp Services indicates your consent to the revised Privacy Policy. </h5>

<p>?From time to time, we may desire to use Personal Information for uses not previously disclosed in this Privacy Policy. If our practices change regarding previously collected Personal Information in a way that would be materially less restrictive than stated in the version of this privacy policy in effect at the time we collected the information, we will make reasonable efforts to provide notice and obtain consent to any such uses as may be required by law.</p>

<p><b>13. Questions, Suggestions and Contact Details</b></p>

<p>If you have questions about this Privacy Policy, you can contact us at: Support@letsdrinkup.com. </p>
